<div class="jumbotron">
  <h1>Добро пожаловать на Simple Book</h1>
  <p class="text-center">Лучший книжный онлайн магазин</p>
  <%= link_to "Книги", books_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "Зарегистрироваться", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>
