<div class="row text-center">
  <h1>Оплата прошла успешно, поздравляем с вашей покупкой! <%= @sale.guid %></h1>
  <p>Вот ваша ссылка для скачивания книги:</p>
  <%= link_to "Скачать", book.resource.url %>
</div>
